dist*
static/tmp/
static/combined/
config/client_session_key.aes
*.hi
*.o
*.dyn_hi
*.dyn_o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
.dir-locals.el
examples.txt
config/settings.yml
config/postgresql.yml
*.iml
*.ipr
*.iws
.idea
*~
