dist*
static/tmp/
static/combined/
config/client_session_key.aes
*.hi
*.o
*.dyn_hi
*.dyn_o
*.sqlite3
.stack-work/*
.hsenv*
cabal-dev/
yesod-devel/
.DS_Store
*.swp
.dir-locals.el
examples.txt
*.iml
*.ipr
*.iws
.idea
*~
